<?xml version="1.0"?>
<config>
    <modules>
        <Devils_Filters>
            <version>0.1.0</version>
        </Devils_Filters>
    </modules>
    <global>
        <models>
            <devils_filters>
                <class>Devils_Filters_Model</class>
                <resourceModel>devils_filters_resource</resourceModel>
            </devils_filters>
            <devils_filters_resource>
                <class>Devils_Filters_Model_Resource</class>
            </devils_filters_resource>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Devils_Filters_Model_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Devils_Filters_Model_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>Devils_Filters_Model_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog_resource>
        </models>
        <blocks>
            <devils_filters>
                <class>Devils_Filters_Block</class>
            </devils_filters>
            <catalog>
                <rewrite>
                    <layer_view>Devils_Filters_Block_Layer_View</layer_view>
                    <layer_filter_attribute>Devils_Filters_Block_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>Devils_Filters_Block_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_decimal>Devils_Filters_Block_Layer_Filter_Decimal</layer_filter_decimal>
                    <layer_filter_price>Devils_Filters_Block_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <devils_filters>
                <class>Devils_Filters_Helper</class>
            </devils_filters>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <devils_filters>
                    <file>devils/filters.xml</file>
                </devils_filters>
            </updates>
        </layout>
    </frontend>
</config>
